:root {
    --primary-blue: #007bff; /* Vertrauen */
    --primary-white: #ffffff; /* Klarheit */
    --secondary-green: #28a745; /* Hoffnung */
    --accent-orange: #f68b1f; /* Aufmerksamkeit */
    --neutral-gray: #333333; /* Texte */
    --neutral-beige: #f9f6f1; /* Hintergrund */
  }
  