.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto; /* Ermöglicht Scrollen im Modal */
    padding: 1rem; /* Platz für Inhalte */
    
  }
  
  .modal-content {
    background: white;
    border-radius: 16px;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 1280px) and (max-width: 1920px) and (min-height: 720px) {
    .modal-content {
    transform: scale(0.61);
    }
  }

  
  .modal-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #3dafac;
    text-align: center;
  }
  
  .prompt-and-packages {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .prompt-container,
  .packages-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .error {
    animation: shake 0.3s; /* Visuelles Feedback durch Wackeln */
  }
  
  .error-message {
    color: #f56a6a;
    font-size: 0.9rem;
    margin-top: -0.5rem;
  }
  
  /* Animation für Fehleranzeige */
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    20%,
    60% {
      transform: translateX(-10px);
    }
    40%,
    80% {
      transform: translateX(10px);
    }
  }
  
  .submit-button {
    margin: 1rem auto; /* Zentriert den Button horizontal */
    margin-top: 3rem;
    display: block; /* Nötig für margin auto */
    color: #fff;
    background: linear-gradient(135deg, #ff00ff, #00ffff, #ff6600);
    background-size: 200% 200%;
    border: 2px solid #00ffff;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 12px 20px;
    font-size: 1rem;
    width: 80%; /* Breite 80% des Containers */
    max-width: 400px; /* Optional: maximale Breite für größere Bildschirme */
    cursor: pointer;
    animation: gradient-move 3s infinite;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.5),
      0 0 30px rgba(255, 102, 0, 0.5);
  }
  
  .submit-button:hover {
    transform: scale(1.1); /* Button leicht vergrößern */
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.8), 0 0 30px rgba(255, 0, 255, 0.8),
      0 0 45px rgba(255, 102, 0, 0.8);
  }
  
  .submit-button:active {
    transform: scale(0.95); /* Button leicht verkleinern bei Klick */
  }

  .close-button {
    position: absolute; /* Bleibt sichtbar beim Scrollen */
    top: 5rem; /* Abstand von oben */
    right: 5rem; /* Abstand von rechts */
    background: none;
    border: none;
    font-size: 2rem;
    color: #3dafac; /* Passende Farbe zum Design */
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
    z-index: 1001; /* Sicherstellen, dass es über dem Modal-Inhalt liegt */
    float: right; /* Rechts ausrichten */
  }
  
  .close-button:hover {
    transform: scale(1.2);
    color: #1efff8; /* Farbänderung beim Hover */
  }
  
  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  /* Mobile Optimierungen */
@media screen and (max-width: 600px) {
  .modal-overlay {
      padding: 0; /* Kein zusätzlicher Platz */
      align-items: flex-start; /* Modal oben ausrichten */

  }
}


@media screen and (max-width: 600px) {
  .close-button {
    position: absolute; /* Bleibt sichtbar beim Scrollen */

    font-size: 2rem; /* Kleinere Größe für Mobilgeräte */
    top: 3.5rem; /* Etwas mehr Abstand bei kleinen Bildschirmen */
    right: 2.5rem;
  }
}